footer {
  padding-bottom: 50px;
}

.newleter {
  margin-top: 20px;
  background-color: #e1e1e1;
  padding: 27px 0;
  box-shadow: inset 0 6px 22px -7px rgb(0 0 0 / 40%);
}

.newleter-text p {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

.newleter-text span {
  color: #333333;
}

.newleter .newleter-form {
  position: relative;
  margin-left: 40px;
}

.newleter-form input {
  width: 480px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 5px;
  margin: 3px 0px;
  outline: 0;
}

.newleter-form span {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

.footer {
  background: #fff;
  overflow: hidden;
  padding: 20px 0;
}

.footer .box-footer {
  float: left;
  width: 300px;
}

.box-footer .h-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.box-footer .ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul li {
  margin: 6px 0;
  list-style: none;
}

.ul li a {
  color: #333;
}

.ul li img {
  width: 80%;
  height: 80px;
}

.box-footer iframe {
  border: none;
  overflow: hidden;
  width: 340px;
  height: 214px;
}

.footer-showroom-container {
  background: #fff;
}

.clearfix .showroom-list {
  float: left;
}

.clearfix .showroom-list:first-child,
.clearfix .showroom-list:nth-child(2) {
  width: 40%;
}

.showroom-list .row-title {
  font-weight: bold;
  border-bottom: 2px solid;
  display: inline-block;
  padding: 0 20px 4px 0;
}

.showroom-list .ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.showroom-list .ul li {
  padding: 0 15px 0 0;
  margin-bottom: 20px;
  list-style: none;
}

.ul li span {
  font-size: 12px;
}

.ul li .ab {
  color: blue!important;
  display: block;
  font-size: 13px;
}

.ul li b {
  display: block;
  font-size: 15px;
}

.newleter .container,
.footer .container,
.footer-showroom-container .container{
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix .showroom-list:last-child {
  width: 20%;
  float: left;
}
